*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
}
.container{
    width: 1200px;
    margin: auto;
}
.les_nav{
    display: flex;
    align-items: center;
}
.head_nav{
    display: flex;
    gap: 30px;
}
.head_nav a{
    color: black;
}
input{
    width: 256px;
    height: 36px;
    background-color: #FC004A;
    border-radius: 15px;
    border: transparent;
    
}

input::placeholder{
    color: white;
}
.loct{
    position: relative;
    left: 50px;
}
.img{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
h2{
    font-family: "Inter";
font-size: 32.48px;
font-weight: 400;
line-height: 40px;
text-align: left;
text-underline-position: "from-font";
color: #262626;
margin-top: 50px;
margin-left: 20px;
}
.box_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
 margin: auto;
    
}
.foot{
    display: flex;
 gap: 100px;
 align-items: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 50px;

}
footer img{
    margin-left: 260px
}




